{{/* Aufrufe:
     {{< game-description-teaser >}}                -> nimmt Seitentitel + data/games.json
     {{< game-description-teaser "Fallout" >}}      -> nimmt expliziten Titel
     Parameter (optional):
       source="games" | "stories" | ...
       keyField="title"
       limit=25
*/}}

{{- $titleArg := "" -}}
{{- if ge (len .Params) 1 -}}
  {{- $titleArg = index .Params 0 -}}
{{- end -}}

{{- $source   := .Get "source"   | default "games" -}}
{{- $keyField := .Get "keyField" | default "title" -}}
{{- $limit    := .Get "limit"    | default 20 -}}

{{- partial "game-description-teaser.html" (dict
      "page"     .Page
      "title"    $titleArg
      "source"   $source
      "keyField" $keyField
      "limit"    $limit
) -}}